.home {
    .side-nav {
        @media (min-width: theme('screens.lg')) {
            min-width: 15%;
        }
        .side-button {
            width: 75%;
            height: 2.3rem;
            text-align: left;
            border-bottom: 2px solid white;
            transition: background-color .5s;
        }
    }
}