@import '../base.css';

.text-card {
    display: none;
    margin: theme('spacing.6') 0;
    max-width: theme('maxWidth.5xl');
    .header-text {
        font-size: theme('fontSize.4xl');
        font-weight: theme('fontWeight.semibold');

        padding-bottom: theme('spacing.4');
    }
    .body-text {
        font-size: theme('fontSize.2xl');
        padding-left: theme('spacing.3');
    }
}

.active {
    display: flex;
}